@model Chalmers.ILL.Models.PartialPage.Settings.EditTemplates

<div class="col-lg-12">
    <h3>Skapa ny mall</h3>
    <div class="form-group">
        <label for="new-template-description">Beskrivning av ny mall</label>
        <input type="text" class="form-control" id="new-template-description" name="new-template-description">
        <label for="new-template-acquisition">Mallen berör inköp</label>
        <input type="checkbox" id="new-template-acquisition" name="new-template-acquisition">
    </div>
    <button class="btn btn-success" onclick="createTemplate();">Skapa ny mall</button>
</div>

<div class="col-lg-12">
    <h3>Editera mallar</h3>
</div>
@{
    var isFirst = true;
    var firstId = "";
}
<div class="col-md-6">
    <div id="template-list" class="list-group">
        @{
            foreach (var template in Model.Templates)
            {
                if (isFirst)
                {
                    <a href="#" class="list-group-item active" onclick="selectTemplate(this, @template.Id); event.preventDefault();">@template.Description</a>
                    firstId = @template.Id.ToString();
                    isFirst = false;
                }
                else
                {
                    <a href="#" class="list-group-item" onclick="selectTemplate(this, @template.Id); event.preventDefault();">@template.Description</a>
                }
            }
        }
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <button class="btn btn-default btn-xs" onclick="addTextAtSelection('{{T:Signature}}');">T:Signature</button>
    @foreach (var property in Model.AvailableOrderItemProperties)
    {
        <button class="btn btn-default btn-xs" onclick="addTextAtSelection('{{@property}}');">@property</button>
    }
        <button class="btn btn-default btn-xs" onclick="addTextAtSelection('{{S:HomeLibrary}}');">S:HomeLibrary</button>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="24" id="template-data" name="template-data" data-template-id="@firstId">@Model.Templates.First().Data</textarea>
    </div>
    <button class="btn btn-success" onclick="saveTemplate();">Spara ändringar</button>
</div>

<script type="text/javascript">
    function selectTemplate(listItem, id, data) {
        $("#template-list > a").removeClass("active");
        $(listItem).addClass("active");

        $.getJSON("/umbraco/surface/TemplatesSurface/GetTemplateData", { nodeId: id }).done(function (json) {
            if (json.Success) {
                $("#template-data").data("template-id", id).val(json.Data);
            } else {
                alert(json.Message);
            }
        });
    }

    function addTextAtSelection(txt) {
        var textBox = $("#template-data");
        var cursorPos = textBox[0].selectionStart;
        textBox.val(textBox.val().substring(0, cursorPos) + txt + textBox.val().substring(cursorPos));
    }

    function saveTemplate() {
        lockScreen();
        $.post("/umbraco/surface/TemplatesSurface/SetTemplateData", { nodeId: $("#template-data").data("template-id"), data: $("#template-data").val() }).done(function (json) {
            if (!json.Success) {
                alert(json.Message);
            }
            unlockScreen();
        });
    }

    function createTemplate() {
        let description = $("#new-template-description").val().trim()
        let isAcquisitionChecked = document.querySelector("#new-template-acquisition").checked
        if (description) {
            lockScreen();
            $.post("/umbraco/surface/TemplatesSurface/CreateTemplate", {
                description: description,
                acquisition: isAcquisitionChecked
            }).done(function (json) {
                if (!json.Success) {
                    alert(json.Message)
                    unlockScreen()
                } else {
                    setTimeout(() => {
                        $("#template-settings-link").click()
                        unlockScreen()
                    }, 4000)
                }
            });
        }
    }
</script>
