@model Chalmers.ILL.Models.PartialPage.DeliveryType.ArticleByMailOrInternalMail

<div id="delivery-with-post-or-internpost" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="attachments-group2">Filer att leverera</label>
            <div id="attachments-group2">
                <button class="btn btn-default" onclick="$('#hidden-file-upload').trigger('click');">Ladda upp</button>
                <input id="hidden-file-upload" type="file" name="hidden-file-upload" style="display: none;" />
                @{
                    foreach (var attachment in Model.OrderItem.AttachmentList)
                    {
                        <button type="button" class="btn btn-default btn-view-attachment @(Model.DrmWarning ? "btn-danger": "")" onclick="openDocument(this);" data-link="@attachment.Link" data-media-id="@attachment.MediaItemNodeId">@attachment.Title <span class="glyphicon glyphicon-search"></span></button>
                    }
                }
            </div>
        </div>
        @{
            if (@Model.OrderItem.SierraInfo.adress.Count == 0)
            {
                <div class="form-group">
                    <div class="well text-center">Inga adresser kunde hittas.</div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @foreach (var address in @Model.OrderItem.SierraInfo.adress)
                    {
                        <div class="col-sm-4">
                            <label for="address-box">Adress @address.addresscount</label>
                            <div id="address-box" class="panel panel-default">
                                <div class="panel-body">
                                    @Model.OrderItem.SierraInfo.first_name @Model.OrderItem.SierraInfo.last_name<br />
                                    @address.addr1@(String.IsNullOrEmpty(@address.addr1) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.addr2@(String.IsNullOrEmpty(@address.addr2) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.addr3@(String.IsNullOrEmpty(@address.addr3) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.postal_code@(String.IsNullOrEmpty(@address.postal_code) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.village@(String.IsNullOrEmpty(@address.village) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.city@(String.IsNullOrEmpty(@address.city) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.region@(String.IsNullOrEmpty(@address.region) ? Html.Raw("") : Html.Raw("<br />"))
                                    @address.country@(String.IsNullOrEmpty(@address.country) ? Html.Raw("") : Html.Raw("<br />"))
                                </div>
                            </div>
                        </div>
                    }
               </div>
            }
        }
        @if (Model.DrmWarning)
        {
            <div class="form-group drm-warning">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> Dokumenten kan vara DRM-skyddade!</h3>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="alert alert-success" role="alert">Automatiskt mailutskick kommer att levereras till <span id="patron-email" class="content-editable" contenteditable>@Model.OrderItem.PatronEmail</span> <span class="glyphicon glyphicon-pencil"></span></div>
                <button class="btn btn-success" onclick="deliver()">Leverera!</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="log-message">Skriv till logg (valfritt)</label>
            <textarea class="form-control" rows="6" id="log-message" name="log-message"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });

        $("#hidden-file-upload").change(function () {
            if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
                alert('FileApi, som används för att ladda upp filer, stöds ej i denna webbläsare.');
                return;
            }

            var input = document.getElementById('hidden-file-upload');
            if (!input) {
                alert("Kunde ej hitta \"FileInput\"-elementet.");
            }
            else if (!input.files) {
                alert("Denna webbläsare verkar inte stödja \"files\"-funktionen av FileApi.");
            }
            else if (!input.files[0]) {
                alert("En fil måste väljas.");
            }
            else {
                file = input.files[0];
                fr = new FileReader();
                fr.onload = function () {
                    uploadDocument(@Model.OrderItem.NodeId, file.name, fr.result);
                };
                fr.readAsDataURL(file);
            }
        });
    });

    function deliver() {
        var activeDeliveryType = $("#active-delivery-type").data("delivery-type").trim();
        var apiMethod = activeDeliveryType === "post" ? "DeliverByPost" : "DeliverByInternpost";
        lockScreen();
        $.post("/umbraco/surface/OrderItemDeliverySurface/" + apiMethod, {
            packJson: JSON.stringify({
                nodeId: @Model.OrderItem.NodeId,
                logEntry: $('#log-message').val(),
                mail: {
                    OrderId: "@Model.OrderItem.OrderId",
                    recipientEmail: $("#patron-email").text().toString().trim(),
                    recipientName: "@Model.OrderItem.PatronName",
                    message: "", // The message doesn't matter, it is overwritten using correct template on server.
                    attachments: []
                }
            })
        }).done(function (json) {
            if (json.Success) {
                loadOrderItemDetails(@Model.OrderItem.NodeId);
            }
            else {
                alert(json.Message);
            }
            unlockScreen();
        }).fail(function (jqxhr, textStatus, error) {
            alert("Fel vid leverans med " + activeDeliveryType + ": " + textStatus + " " + error);
            unlockScreen();
        });
    }
</script>