@model Chalmers.ILL.Models.PartialPage.DeliveryType.BookInstantLoan
@using System.Globalization;

<textarea id="mail-message" hidden>@Model.BookAvailableMailTemplate</textarea>

<div id="delivery-to-circulation" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="bookId">Bokens streckkod/identifikator</label>
            <input type="text" class="form-control" id="bookId" name="bookId" value="@Model.OrderItem.BookId">
        </div>
        <div class="form-group">
            <label for="dueDate">Återlämningsdatum</label>
            <div class="input-group date datetimepicker">
                <input type="text" class="form-control" id="dueDate" name="dueDate" value="@Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="alert alert-success" role="alert">Automatiskt mailutskick kommer att levereras till <span id="patron-email" class="content-editable" contenteditable>@Model.OrderItem.PatronEmail</span> <span class="glyphicon glyphicon-pencil"></span></div>
                <button class="btn btn-success" onclick="deliver()">Leverera!</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="providerInformation">Leverantörsinformation</label><br />
            <textarea class="form-control" cols="80" rows="10" id="providerInformation" name="providerInformation">@Model.OrderItem.ProviderInformation</textarea>
        </div>
        <div id="bookSlip" class="print">
            <h3 style="float:right" class="dueDatePlaceHolder"></h3><br />
            <strong style="font-size:1.5em">@Model.OrderItem.SierraInfo.first_name @Model.OrderItem.SierraInfo.last_name</strong><br />
            <p>
                <strong>Fjärrlån</strong><br />
                <strong>Återlämnas senast</strong><br />
            </p>
            <p>
                <strong>Interlibrary loan</strong><br />
                <strong>Due date</strong><br />
            </p>
            <p>
                <strong style="font-size:1.5em" class="dueDatePlaceHolder"></strong>
            </p>

            <p>
                <strong>Återlämnas omedelbart vid krav</strong><br />
                <strong>Please return immediately if recalled</strong>
            </p>
            <p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <img src="~/images/cth_logo.png" width="148pt" />
            </p>
            <p>
                Chalmers tekniska högskola<br />
                Biblioteket<br />
                412 96  Göteborg<br />
                <br />
                031-772 3737 / 3761<br />
                <br />
                www.lib.chalmers.se<br />
                support.lib@chalmers.se
            </p>
            <div class="pb"></div>
            <h3 class="dueDatePlaceHolder"></h3>
        </div>
        <div class="form-group">
            <label for="log-message">Skriv till logg (valfritt)</label>
            <textarea class="form-control" rows="6" id="log-message" name="log-message"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });

    function deliver() {
        $('#container #bookSlip').insertAfter('#container');
        var dueDate = moment($('#dueDate').val()).format("YYYY-MM-DD");
        $('.dueDatePlaceHolder').html(dueDate);
        window.print();
        var r = window.confirm("Skrevs bokslippen ut korrekt?");
        if (r == true) {
            setOrderItemDeliveryReceived(@Model.OrderItem.NodeId, $('#bookId').val(), $('#dueDate').val(), $('#providerInformation').val(),
            {
                nodeId: @Model.OrderItem.NodeId,
                recipientEmail: $("#patron-email").text().toString().trim(),
                recipientName: "@Model.OrderItem.PatronName",
                message: $("#mail-message").val(),
                newStatusId: @Model.AvailableStatuses.First(x => x.Value.Contains("Utlånad")).Id,
                newCancellationReasonId: -1,
                newPurchasedMaterialId: -1,
                newFollowUpDate: $('#dueDate').val(),
            }, $("#log-message").val(), false);
        } else {
            alert("Sidan kommer laddas om, försök därefter igen.");
            location.reload();
        }
    }
</script>