@model Chalmers.ILL.Models.PartialPage.DeliveryType.BookReadAtLibrary
@using System.Globalization;

<textarea id="mail-message" hidden>@Model.BookAvailableForReadingAtLibraryMailTemplate</textarea>

<div id="delivery-to-circulation" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="bookId">Bokens streckkod/identifikator</label>
            <input type="text" class="form-control" id="bookId" name="bookId" value="@Model.OrderItem.BookId">
        </div>
        <div class="form-group">
            <label for="dueDate">Återlämningsdatum</label>
            <div class="input-group date datetimepicker">
                <input type="text" class="form-control" id="dueDate" name="dueDate" value="@Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="alert alert-success" role="alert">Automatiskt mailutskick kommer att levereras till <span id="patron-email" class="content-editable" contenteditable>@Model.OrderItem.PatronEmail</span> <span class="glyphicon glyphicon-pencil"></span></div>
                <button class="btn btn-success" onclick="deliver()">Leverera!</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="providerInformation">Leverantörsinformation</label><br />
            <textarea class="form-control" cols="80" rows="10" id="providerInformation" name="providerInformation">@Model.OrderItem.ProviderInformation</textarea>
        </div>
        <div class="form-group">
            <label for="log-message">Skriv till logg (valfritt)</label>
            <textarea class="form-control" rows="6" id="log-message" name="log-message"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });

    function deliver() {
        // TODO: Implement delivery.
    }
</script>