@model Chalmers.ILL.Models.PartialPage.ChalmersILLEditTemplatesModel

<div class="col-lg-12">
    <h3>Editera mallar</h3>
</div>
<div class="col-md-6">
    <div id="template-list" class="list-group">
        @{
            var first = true;
            foreach (var template in Model.Templates)
            {
                if (first)
                {
                    <a href="#" class="list-group-item active" onclick="selectTemplate(this, @template.Id); event.preventDefault();">@template.Description</a>
                    first = false;
                }
                else
                {
                    <a href="#" class="list-group-item" onclick="selectTemplate(this, @template.Id); event.preventDefault();">@template.Description</a>
                }
            }
        }
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <textarea class="form-control" rows="24" id="template-data" name="template-data">@Model.Templates.First().Data</textarea>
    </div>
    <button class="btn btn-success" onclick="saveTemplate();">Spara ändringar</button>
</div>

<script type="text/javascript">
    function selectTemplate(listItem, id, data) {
        $("#template-list > a").removeClass("active");
        $(listItem).addClass("active");

        $.getJSON("/umbraco/surface/TemplatesSurface/GetTemplateData", { nodeId: id }).done(function (json) {
            if (json.Success) {
                $("#template-data").data("template-id", id).val(json.Data);
            } else {
                alert(json.Message);
            }
        });
    }

    function saveTemplate() {
        lockScreen();
        $.post("/umbraco/surface/TemplatesSurface/SetTemplateData", { nodeId: $("#template-data").data("template-id"), data: $("#template-data").val() }).done(function (json) {
            if (!json.Success) {
                alert(json.Message);
            }
            unlockScreen();
        });
    }
</script>
