@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionLogEntryModel
@using System.Globalization

<div class="action-header">Skriv till loggen</div>

<form class="form" role="form" onsubmit="return false;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="message">Inlägg</label>
                <textarea class="form-control" rows="6" id="message" name="message"></textarea>
            </div>

            <div class="form-group">
                <label for="followUpDate">Följs upp</label>
                <div class="input-group date datetimepicker">
                    <input type="text" class="form-control" id="followUpDate" name="followUpDate" value="@Model.OrderItem.FollowUpDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Ny status</label>
                <!-- Status button -->
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="currently-selected-status" data-status-id="-1" data-cancellation-reason-id="-1" data-purchased-material-id="-1">Ingen förändring</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="orderitem-statuslist" role="menu">
                            <li><a href="#" onclick="updateSelectedStatus(-1, 'Ingen förändring', -1, -1); event.preventDefault();">Ingen förändring</a></li>
                            @{
                                var allowedStatusValues = new String[] { "Annullerad", "Åtgärda", "Överförd", "Inköpt", "Väntar" };

                                foreach (var status in Model.AvailableStatuses)
                                {
                                    if (allowedStatusValues.Contains(status.Value))
                                    {
                                        if (status.Value == "Annullerad")
                                        {
                                            <li class="dropdown-submenu">
                                                <a>@status.Value</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var cancellationReason in Model.AvailableCancellationReasons)
                                                    {
                                                        <li><a href="#" onclick="updateSelectedStatus(@status.Id, '@status.Value -> @cancellationReason.Value', @cancellationReason.Id, -1); event.preventDefault();">@cancellationReason.Value</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (status.Value == "Inköpt")
                                        {
                                            <li class="dropdown-submenu">
                                                <a>@status.Value</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var purchasedMaterial in Model.AvailablePurchasedMaterials)
                                                    {
                                                        <li><a href="#" onclick="updateSelectedStatus(@status.Id, '@status.Value -> @purchasedMaterial.Value', -1, @purchasedMaterial.Id); event.preventDefault();">@purchasedMaterial.Value</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a href="#" onclick="updateSelectedStatus(@status.Id, '@status.Value', -1, -1); event.preventDefault();">@status.Value</a></li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <button class="btn btn-success" onclick="submitLogEntry(this); event.preventDefault();">Spara</button>
        </div>
   </div>
    <script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });

    function updateSelectedStatus(newStatusId, newStatusText, cancellationReasonId, purchasedMaterialId) {
        var currSelectedStatusObj = $("#currently-selected-status");
        currSelectedStatusObj.data("status-id", newStatusId);
        currSelectedStatusObj.data("cancellation-reason-id", cancellationReasonId);
        currSelectedStatusObj.data("purchased-material-id", purchasedMaterialId);
        currSelectedStatusObj.text(newStatusText);
    }

    function submitLogEntry(obj) {
        var newStatusObj = $("#currently-selected-status");
        var newStatusId = newStatusObj.data("status-id");
        var newStatusCancellationReasonId = newStatusObj.data("cancellation-reason-id");
        var newStatusPurchasedMaterialId = newStatusObj.data("purchased-material-id");
        if (newStatusId != -1) {
            writeLogItem(@Model.OrderItem.NodeId, obj.form.message.value, 'LOG', obj.form.followUpDate.value, false);
            if (newStatusCancellationReasonId != -1) {
                setOrderItemStatusAndCancellationReason(@Model.OrderItem.NodeId, newStatusId, newStatusCancellationReasonId);
            } else if(newStatusPurchasedMaterialId != -1) {
                setOrderItemStatusAndPurchasedMaterial(@Model.OrderItem.NodeId, newStatusId, newStatusPurchasedMaterialId);
            } else {
                setOrderItemStatus(@Model.OrderItem.NodeId, newStatusId);
            }
        } else {
            writeLogItem(@Model.OrderItem.NodeId, obj.form.message.value, 'LOG', obj.form.followUpDate.value);
        }
    }
    </script>
</form>
