@inherits Umbraco.Web.Mvc.UmbracoViewPage<Chalmers.ILL.Models.PartialPage.ChalmersILLOrderItemModel>
@using System.Globalization;
@using Chalmers.ILL.Extensions;
@using Chalmers.ILL.Models;

<div class="col-sm-12 order-details">

    @{
        if (Model.OrderItem.EditedBy != "" && Model.OrderItem.EditedByCurrentMember == false)
        {
            <!-- Lock information and unlock button for this OrderItem -->
            <p>
                <span class="label label-danger">
                    Låst av @Model.OrderItem.EditedByMemberName sedan @Model.OrderItem.UpdateDate.ToString("yyyy-MM-dd HH:mm")
                </span>
            </p>
            <div id="unlock-buttons-@Model.OrderItem.NodeId" class="action-buttons">
                <button type="button" class="btn btn-success" onclick="takeOverLockedOrderItem(@Model.OrderItem.NodeId);">Överta låset</button>
            </div>
        }
        else
        {
            <!-- All action buttons for this OrderItem, lock attribute is set via jQuery below -->
            <div id="action-buttons-@Model.OrderItem.NodeId" class="action-buttons" data-locked-by-memberid="">
                @if (!String.IsNullOrEmpty(Model.OrderItem.SierraInfo.mblock) && Model.OrderItem.SierraInfo.mblock != "-")
                {
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> Låntagaren är spärrad!</h3>
                        </div>
                    </div>
                }

                @if (String.IsNullOrEmpty(Model.OrderItem.SierraInfo.id))
                {
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> Låntagardata saknas!</h3>
                        </div>
                    </div>
                }

                <!-- Type button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Typ <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="orderitem-typelist" role="menu">
                        @foreach (var type in Model.AvailableTypes)
                        {
                            if (type.Id == Model.OrderItem.TypeId)
                            {
                                <li><a href="#" class="disabled-link"><span class="current">@type.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="setOrderItemType(@Model.OrderItem.NodeId, @type.Id); event.preventDefault();">@type.Value</a></li>
                            }
                        }
                    </ul>
                </div>
                @if (Model.OrderItem.TypeId > 0)
                {
                    <!-- Status button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Status <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="orderitem-statuslist" role="menu">
                            @{
                                var allowedStatusValues = new List<String>() { "Annullerad", "Åtgärda", "Inköpt" };

                                if (Model.OrderItem.StatusString.Contains("Åtgärda") && !Model.OrderItem.PreviousStatusString.Contains("Vänta"))
                                {
                                    allowedStatusValues.Add(Model.OrderItem.PreviousStatusString);
                                }

                                if (Model.OrderItem.DeliveryDate.Year > 1975) // The book or article has been delivered
                                {
                                    if (Model.OrderItem.Type == "Artikel")
                                    {
                                        allowedStatusValues.Add("Levererad");
                                    }
                                    else if (Model.OrderItem.Type == "Bok")
                                    {
                                        allowedStatusValues.Add("Infodisk");
                                        allowedStatusValues.Add("Utlånad");
                                        allowedStatusValues.Add("FOLIO");
                                    }
                                }

                                foreach (var status in Model.AvailableStatuses)
                                {
                                    if (allowedStatusValues.Contains(status.Value))
                                    {
                                        if (status.Value == "Annullerad")
                                        {
                                            <li class="dropdown-submenu">
                                                @if (status.Id == Model.OrderItem.StatusId)
                                                {
                                                    <a href="#" class="disabled-link"><span class="current">@status.Value</span> <span class="glyphicon glyphicon-ok"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#">@status.Value</a>
                                                }
                                                <ul class="dropdown-menu">
                                                    @foreach (var cancellationReason in Model.AvailableCancellationReasons)
                                                    {
                                                        if (status.Id == Model.OrderItem.StatusId && cancellationReason.Id == Model.OrderItem.CancellationReasonId)
                                                        {
                                                            <li><a href="#" class="disabled-link"><span class="current">@cancellationReason.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="#" onclick="setOrderItemStatusAndCancellationReason(@Model.OrderItem.NodeId, @status.Id, @cancellationReason.Id); event.preventDefault();">@cancellationReason.Value</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (status.Value == "Inköpt")
                                        {
                                            <li class="dropdown-submenu">
                                                @if (status.Id == Model.OrderItem.StatusId)
                                                {
                                                    <a href="#" class="disabled-link"><span class="current">@status.Value</span> <span class="glyphicon glyphicon-ok"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#">@status.Value</a>
                                                }
                                                <ul class="dropdown-menu">
                                                    @foreach (var purchasedMaterial in Model.AvailablePurchasedMaterials)
                                                    {
                                                        if (status.Id == Model.OrderItem.StatusId && purchasedMaterial.Id == Model.OrderItem.PurchasedMaterialId)
                                                        {
                                                            <li><a href="#" class="disabled-link"><span class="current">@purchasedMaterial.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="#" onclick="setOrderItemStatusAndPurchasedMaterial(@Model.OrderItem.NodeId, @status.Id, @purchasedMaterial.Id); event.preventDefault();">@purchasedMaterial.Value</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            if (status.Id == Model.OrderItem.StatusId)
                                            {
                                                <li><a href="#" class="disabled-link"><span class="current">@status.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" onclick="setOrderItemStatus(@Model.OrderItem.NodeId, @status.Id); event.preventDefault();">@status.Value</a></li>
                                            }
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>


                    <!-- Delivery Library button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Leveransbibliotek <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="orderitem-statuslist" role="menu">
                            @{
                                foreach (var library in Model.AvailableDeliveryLibraries)
                                {
                                    if (library.Id == Model.OrderItem.DeliveryLibraryId)
                                    {
                                        <li><a href="#" class="disabled-link"><span class="current">@( library.Value == "Lindholmenbiblioteket" ? "Kuggen" : library.Value ) </span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#" onclick="setOrderItemDeliveryLibrary(@Model.OrderItem.NodeId, @library.Id); event.preventDefault();">@( library.Value == "Lindholmenbiblioteket" ? "Kuggen" : library.Value )</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    if (Model.OrderItem.Type == "Inköpsförslag")
                    {
                        <!-- Purchase Library button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Inköpsbibliotek <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="orderitem-statuslist" role="menu">
                                @{
                                    foreach (var library in Enum.GetValues(typeof(OrderItemModel.PurchaseLibraries)).Cast<OrderItemModel.PurchaseLibraries>())
                                    {
                                        if (library == Model.OrderItem.PurchaseLibrary)
                                        {
                                            <li><a href="#" class="disabled-link"><span class="current">@library.ToString()</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#" onclick="setOrderItemPurchaseLibrary(@Model.OrderItem.NodeId, @Convert.ToInt32(library)); event.preventDefault();">@library.ToString()</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    }
                }

                @if (Model.OrderItem.TypeId > 0)
                {
                    <button type="button" class="btn btn-primary" onclick="loadReferenceAction(@Model.OrderItem.NodeId);">Referens</button>
                    <button type="button" class="btn btn-primary" onclick="loadPatronDataView(@Model.OrderItem.NodeId);">Beställardata</button>
                    <button type="button" class="btn btn-primary" onclick="loadMailAction(@Model.OrderItem.NodeId);">Skicka mail</button>
                }
                @if (Model.OrderItem.Type == "Artikel" || Model.OrderItem.Type == "Bok")
                {
                    <button type="button" class="btn btn-primary" onclick="loadProviderAction(@Model.OrderItem.NodeId);">Beställning</button>
                }
                <button type="button" class="btn btn-primary" onclick="loadLogEntryAction(@Model.OrderItem.NodeId);">Logga</button>
                @if (Model.OrderItem.Type == "Artikel")
                {
                    <button type="button" class="btn btn-primary" onclick="loadDeliveryAction(@Model.OrderItem.NodeId);">Leverans <span id="attachment-counter1" class="badge">@Model.OrderItem.AttachmentList.Count</span></button>
                }
                @if (Model.OrderItem.Type == "Bok")
                {
                    <button type="button" class="btn btn-primary" onclick="loadReceiveBookAction(@Model.OrderItem.NodeId);">Ta emot bok</button>
                    @*<button type="button" class="btn btn-primary" onclick="loadProviderReturnDateAction(@Model.OrderItem.NodeId);">Lånetid leverantör</button>*@
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            Lånetid <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @if ((Model.OrderItem.StatusString == "Utlånad" || Model.OrderItem.StatusString == "Krävd" || Model.OrderItem.StatusString == "Åtgärda") && Model.OrderItem.CreateDate <= DateTime.Parse("2021-05-16"))
                            {
                                <li><a href="#" onclick="loadPatronReturnDateAction(@Model.OrderItem.NodeId); event.preventDefault();">Mot låntagare</a></li>
                            }
                            <li><a href="#" onclick="loadProviderReturnDateAction(@Model.OrderItem.NodeId); event.preventDefault();">Från utlånande bibliotek</a></li>
                        </ul>
                    </div>
                    if ((Model.OrderItem.StatusString == "Utlånad" || Model.OrderItem.StatusString == "Krävd" || Model.OrderItem.StatusString == "Åtgärda") && Model.OrderItem.CreateDate <= DateTime.Parse("2021-05-16"))
                    {
                        <button type="button" class="btn btn-primary" onclick="loadClaimAction(@Model.OrderItem.NodeId);">Kräv</button>
                    }
                    <button type="button" class="btn btn-primary" onclick="loadReturnAction(@Model.OrderItem.NodeId);">Retur</button>
                }
            </div>

                                    // Lock OrderItem and set attributes in DOM
                                    if (Model.OrderItem.EditedBy == "")
                                    {
                    <!-- Lock OrderItem to current Member -->
                    <script type="text/javascript">
                        $.getJSON("/umbraco/surface/OrderItemSurface/LockOrderItem?nodeId=@Model.OrderItem.NodeId", function (json) {
                            if (json.Success) {
                                $("#@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                                $("#action-buttons-@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                            }
                            else {
                                alert(json.Message);
                            }
                        });
                    </script>
                                    }

                                    if (Model.OrderItem.EditedByCurrentMember)
                                    {
                    <script type="text/javascript">
                        $("#@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                        $("#action-buttons-@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                    </script>
                                        }

                                    }
    }
</div>
<!-- Action Section -->
<div id="action-@Model.OrderItem.NodeId" class="col-sm-12 order-details" style="display:none;"></div>
<div id="loading-partial-view" hidden>Laddar...</div>

<!-- Details about this OrderItem -->
<div class="col-sm-4 order-details">
    <div>
        <span class="label label-primary order-item-var-label">Order ID</span> @Model.OrderItem.OrderId
    </div>
    <div>
        <span class="label label-primary order-item-var-label">Skapad</span> @Model.OrderItem.CreateDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
    </div>
    <div>
        <span class="label label-primary order-item-var-label">Uppdaterad</span> @Model.OrderItem.UpdateDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
    </div>
    <div>
        <span class="label label-primary order-item-var-label">Uppföljning</span> @Model.OrderItem.FollowUpDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
    </div>
    @if (Model.OrderItem.DeliveryDate.Year >= 1975 && Model.OrderItem.Type == "Bok")
    {
        <div>
            <span class="label label-primary order-item-var-label">Återlämning</span> @Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
            @if (Model.OrderItem.DueDate != Model.OrderItem.ProviderDueDate)
            {
                <span class="glyphicon glyphicon-exclamation-sign" data-toggle="popover" data-content="Vår lånetid mot leverantören <span class='label label-primary'>@Model.OrderItem.ProviderDueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)</span> skiljer sig från den lånetid som låntagaren har mot oss <span class='label label-primary'>@Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)</span>."></span>
            }
        </div>
    }
</div>
<div class="col-sm-4 order-details">
    <div>
        <span class="order-item-var-row"><span class="label label-primary order-item-var-label">Lt. - Namn</span> @Model.OrderItem.PatronName</span>
    </div>
    <div>
        <span class="order-item-var-row"><span class="label label-primary order-item-var-label">Lt. - E-post</span> @Model.OrderItem.PatronEmail</span>
    </div>
    <div>
        <span class="order-item-var-row"><span class="label label-primary order-item-var-label">Lt. - Kortnr.</span> @Model.OrderItem.PatronCardNo</span>
    </div>
    <div>
        <span class="order-item-var-row"><span class="label label-primary order-item-var-label">Lt. - Valt bibl.</span> @Model.OrderItem.DeliveryLibraryPrettyName</span>
    </div>
    <div>
        <span class="order-item-var-row"><span class="label label-primary order-item-var-label">Lt. - Tillhörighet</span> @Model.OrderItem.PatronAffiliation</span>
    </div>
    <div>
        @{
            var notEmpty = !String.IsNullOrEmpty(Model.OrderItem.ProviderInformation);
            var moreThanOneRow = Model.OrderItem.ProviderInformation.Contains("\n");
        <span class="order-item-var-row">
            <span class="label label-primary order-item-var-label">Lev. - Namn</span> 
            @Model.OrderItem.ProviderName@(notEmpty && !moreThanOneRow ? " (" + Model.OrderItem.ProviderInformation + ")" : "")
        </span>
            if (notEmpty && moreThanOneRow)
            {
        <span class="glyphicon glyphicon-exclamation-sign" data-toggle="popover" data-content="@Model.OrderItem.ProviderInformation.Replace("\n", "<br/>")"></span>
            }
        }
    </div>
    <div>
        <span class="order-item-var-row"><span class="label label-primary order-item-var-label">Lev. - Order ID</span> @Model.OrderItem.ProviderOrderId</span>
    </div>
</div>
<div class="col-sm-4 order-details">
    <div>
        <span class="label label-primary order-item-var-label">Folio - Namn</span> @Model.OrderItem.SierraInfo.first_name @Model.OrderItem.SierraInfo.last_name
    </div>
    <div>
        <span class="label label-primary order-item-var-label">Folio - Kortnr.</span> @Model.OrderItem.SierraInfo.barcode
    </div>
    <div>
        <span class="label label-primary order-item-var-label">Folio - P-typ</span> @(!String.IsNullOrEmpty(Model.OrderItem.SierraInfo.barcode) ? Model.OrderItem.SierraInfo.ptype.ToString() : "")
    </div>
    <div>
        <span class="label label-primary order-item-var-label">Folio - E-post</span> @Model.OrderItem.SierraInfo.email
    </div>
    <div>
        <span class='label @((String.IsNullOrEmpty(Model.OrderItem.SierraInfo.mblock) || Model.OrderItem.SierraInfo.mblock=="-") ? "label-primary" : "label-danger") order-item-var-label'>Folio - M-block</span> @Model.OrderItem.SierraInfo.mblock
    </div>
</div>

<!-- Log list -->
<div class="col-sm-12">
    <span class="label label-default">Händelser</span>
</div>
<div id="log-@Model.OrderItem.NodeId" class="col-sm-12 log-list">
    @{
        string lastEventId = "";
        DateTime lastCreateDate = new DateTime(1970, 1, 1);
        string lastMemberName = "";
        var first = true;
        var firstMail = true;
        var evenRow = true;
        foreach (var logItem in Model.OrderItem.LogItemsList)
        {
            if (first || lastEventId != logItem.EventId ||
                (String.IsNullOrEmpty(logItem.EventId) && String.IsNullOrEmpty(lastEventId) && (Math.Abs((logItem.CreateDate - lastCreateDate).TotalSeconds) > 30 || logItem.MemberName != lastMemberName)))
            {
                if (!first)
                {
                    @:</div>
                }
                @:<div class="log-item-container @(evenRow ? "even" : "odd")">
                    <div class="row log-item-header">
                        <div class="col-sm-8">
                            @if (!String.IsNullOrEmpty(logItem.EventId))
                            {
                                @Model.EventIdToEventNameMapping[Convert.ToInt32(logItem.EventId.Substring(logItem.EventId.Length - 2))]
                            }
                            else
                            {
                                <text>Okänd händelse</text>
                            }
                        </div>
                        <div class="col-sm-2">
                            @logItem.MemberName
                        </div>
                        <div class="col-sm-2">
                            <span class="@(DateTime.Now.Date == logItem.CreateDate.Date ? "dynamic-time-diff" : "")" data-minutes="@(DateTime.Now.Date == logItem.CreateDate.Date ? (DateTime.Now - logItem.CreateDate).TotalMinutes : 0)">@logItem.CreateDate.ToPrettyString()</span> (<span style="font-size: 0.8em;">@logItem.CreateDate.ToString("yyyy-MM-dd")</span>)
                        </div>
                    </div>
                            evenRow = !evenRow;
            }

            <div class="row log-item-content @logItem.Type @(logItem.Type == "MAIL" && !firstMail ? "collapsed" : "")">
                <div class="col-sm-2">
                    @logItem.Type
                </div>
                <div class="col-sm-10">
                    <span class="log-message">@logItem.Message</span>
                </div>
            </div>

            lastEventId = logItem.EventId;
            lastCreateDate = logItem.CreateDate;
            lastMemberName = logItem.MemberName;

            first = false;
            if (logItem.Type == "MAIL")
            {
                firstMail = false;
            }
        }
}
    <script type="text/javascript">
    $.each($("#log-@Model.OrderItem.NodeId .log-message:contains('http')"), function () {
            $(this).html(addSaveDocumentButton(@Model.OrderItem.NodeId, replaceURLWithHTMLLinks($(this).text())));
        });
    </script>
</div>

<script type="text/javascript">
    $(function () {
        $("[data-toggle='popover']").popover({
            trigger: "hover",
            placement: "top",
            html: true
        });
    })
    // Open up an old mail
    $(".MAIL").click(function () {
        var sel = getSelection().toString();
        if (!sel) {
            var of = $(this).css("overflow");
            if (of == "hidden") {
                $(this).css("overflow", "auto");
                $(this).css("height", "inherit");
                $(this).find("span.glyphicon").removeClass("glyphicon-chevron-right");
                $(this).find("span.glyphicon").addClass("glyphicon-chevron-down");
            }
            else {
                $(this).css("overflow", "hidden");
                $(this).css("height", "1.5em");
                $(this).find("span.glyphicon").removeClass("glyphicon-chevron-down");
                $(this).find("span.glyphicon").addClass("glyphicon-chevron-right");
            }
        }
    });
    $(".MAIL").each(function () {
        var of = $(this).css("overflow");
        if(of=="hidden"){
            $(this).find("span.log-message").prepend("<span style='margin-right:2px' class='glyphicon glyphicon-chevron-right'></span>");
        }
        else{
            $(this).find("span.log-message").prepend("<span style='margin-right:2px' class='glyphicon glyphicon-chevron-down'></span>");
        }
    });

    function getPrettyDateString(minutes)
    {
        var ret = "";

        if (minutes < 60) // Inom en timme
        {
            ret = minutes + " " + (minutes == 1 ? "minut" : "minuter");
        }
        else
        {
            var h = Math.floor(minutes/60);
            ret = h + " " + (h == 1 ? "timme" : "timmar");
        }

        return ret;
    }
</script>
