@inherits Umbraco.Web.Mvc.UmbracoViewPage<Chalmers.ILL.Models.PartialPage.ChalmersILLOrderItemModel>
@using System.Globalization;

<div class="col-sm-12 order-details">

    @{
        if (Model.OrderItem.EditedBy != "" && Model.OrderItem.EditedByCurrentMember == false)
        {
            <!-- Lock information and unlock button for this OrderItem -->
            <p>
                <span class="label label-danger">
                    Låst av @Model.OrderItem.EditedByMemberName sedan @Model.OrderItem.UpdateDate.ToString("yyyy-MM-dd HH:mm")
                </span>
            </p>
            <div id="unlock-buttons-@Model.OrderItem.NodeId" class="action-buttons">
                <button type="button" class="btn btn-success" onclick="takeOverLockedOrderItem(@Model.OrderItem.NodeId);">Överta låset</button>
            </div>
        }
        else
        {
            <!-- All action buttons for this OrderItem, lock attribute is set via jQuery below -->
            <div id="action-buttons-@Model.OrderItem.NodeId" class="action-buttons" data-locked-by-memberid="">
                @if (!String.IsNullOrEmpty(Model.OrderItem.SierraInfo.mblock) && Model.OrderItem.SierraInfo.mblock != "-")
                {
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> Låntagaren är spärrad!</h3>
                        </div>
                    </div>
                }
                
                @if (Model.OrderItem.TypePrevalue == "Bok" && !Model.OrderItem.DeliveryLibrarySameAsHomeLibrary)
                {
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> Låntagarens hembibliotek stämmer ej överrens med leveransbibliotek!</h3>
                        </div>
                    </div>
                }

                <!-- Type button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Typ <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="orderitem-typelist" role="menu">
                        @foreach (var type in Model.AvailableTypes)
                        {
                            if (type.Id == Model.OrderItem.Type) 
                            {
                                <li><a href="#" class="disabled-link"><span class="current">@type.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                            }
                            else
                            {
                                <li><a href="#" onclick="setOrderItemType(@Model.OrderItem.NodeId, @type.Id); event.preventDefault();">@type.Value</a></li>
                            }
                        }
                    </ul>
                </div>
                @if (Model.OrderItem.Type > 0)
                {
                    <!-- Status button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Status <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="orderitem-statuslist" role="menu">
                            @{
                                var allowedStatusValues = new String[]{"Annullerad", "Åtgärda", "Överförd", "Inköpt", "Väntar"};
                                
                                foreach (var status in Model.AvailableStatuses)
                                {
                                    if (allowedStatusValues.Contains(status.Value))
                                    {
                                        if (status.Value == "Annullerad")
                                        {
                                            <li class="dropdown-submenu">
                                                @if (status.Id == Model.OrderItem.Status)
                                                {
                                                    <a href="#" class="disabled-link"><span class="current">@status.Value</span> <span class="glyphicon glyphicon-ok"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#">@status.Value</a>
                                                }
                                                <ul class="dropdown-menu">
                                                    @foreach (var cancellationReason in Model.AvailableCancellationReasons)
                                                    {
                                                        if (status.Id == Model.OrderItem.Status && cancellationReason.Id == Model.OrderItem.CancellationReason)
                                                        {
                                                            <li><a href="#" class="disabled-link"><span class="current">@cancellationReason.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="#" onclick="setOrderItemStatusAndCancellationReason(@Model.OrderItem.NodeId, @status.Id, @cancellationReason.Id); event.preventDefault();">@cancellationReason.Value</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (status.Value == "Inköpt")
                                        {
                                            <li class="dropdown-submenu">
                                                @if (status.Id == Model.OrderItem.Status)
                                                {
                                                    <a href="#" class="disabled-link"><span class="current">@status.Value</span> <span class="glyphicon glyphicon-ok"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#">@status.Value</a>
                                                }
                                                <ul class="dropdown-menu">
                                                    @foreach (var purchasedMaterial in Model.AvailablePurchasedMaterials)
                                                    {
                                                        if (status.Id == Model.OrderItem.Status && purchasedMaterial.Id == Model.OrderItem.PurchasedMaterial)
                                                        {
                                                            <li><a href="#" class="disabled-link"><span class="current">@purchasedMaterial.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="#" onclick="setOrderItemStatusAndPurchasedMaterial(@Model.OrderItem.NodeId, @status.Id, @purchasedMaterial.Id); event.preventDefault();">@purchasedMaterial.Value</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            if (status.Id == Model.OrderItem.Status)
                                            {
                                                <li><a href="#" class="disabled-link"><span class="current">@status.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" onclick="setOrderItemStatus(@Model.OrderItem.NodeId, @status.Id); event.preventDefault();">@status.Value</a></li>
                                            }
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                    
                    <!-- Delivery Library button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Bibliotek <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="orderitem-statuslist" role="menu">
                            @{
                                foreach (var library in Model.AvailableDeliveryLibraries)
                                {
                                    if (library.Id == Model.OrderItem.DeliveryLibrary) 
                                    {
                                        <li><a href="#" class="disabled-link"><span class="current">@library.Value</span> <span class="glyphicon glyphicon-ok"></span></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#" onclick="setOrderItemDeliveryLibrary(@Model.OrderItem.NodeId, @library.Id); event.preventDefault();">@library.Value</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>                    
                }
                    
                @if (Model.OrderItem.Type > 0)
                {
                    <button type="button" class="btn btn-primary" onclick="loadReferenceAction(@Model.OrderItem.NodeId);">Referens</button>
                    <button type="button" class="btn btn-primary" onclick="loadPatronDataView(@Model.OrderItem.NodeId);">Beställardata</button>
                    <button type="button" class="btn btn-primary" onclick="loadMailAction(@Model.OrderItem.NodeId);">Skicka mail</button>
                    <button type="button" class="btn btn-primary" onclick="loadProviderAction(@Model.OrderItem.NodeId);">Beställ</button>
                }
                <button type="button" class="btn btn-primary" onclick="loadLogEntryAction(@Model.OrderItem.NodeId);">Logga</button>
                @if (Model.OrderItem.Type > 0)
                {
                    <!-- <button type="button" class="btn btn-primary dropdown-toggle" disabled>Annullera</button> -->
                    <button type="button" class="btn btn-primary" onclick="loadDeliveryAction(@Model.OrderItem.NodeId);">Leverans <span id="attachment-counter1" class="badge">@Model.OrderItem.AttachmentList.Count</span></button>
                    <!-- <button type="button" class="btn btn-primary dropdown-toggle" disabled>Överför</button> -->
                }
                @if (Model.OrderItem.TypePrevalue == "Bok")
                {
                    <button type="button" class="btn btn-primary" onclick="loadReturnAction(@Model.OrderItem.NodeId);">Retur</button>
                }
            </div>

                // Lock OrderItem and set attributes in DOM
                if (Model.OrderItem.EditedBy == "")
                {
                    <!-- Lock OrderItem to current Member -->
                    <script type="text/javascript">
                        $.getJSON("/umbraco/surface/OrderItemSurface/LockOrderItem?nodeId=@Model.OrderItem.NodeId", function (json) {
                            if (json.Success) {
                                $("#@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                                $("#action-buttons-@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                            }
                            else {
                                alert(json.Message);
                            }
                        });
                    </script>
                }

                if (Model.OrderItem.EditedByCurrentMember)
                {
                    <script type="text/javascript">
                        $("#@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                        $("#action-buttons-@Model.OrderItem.NodeId").attr("data-locked-by-memberid", $("#memberIdContainer").attr("data-memberid"));
                    </script>
                }

        }
    }
</div>
<!-- Action Section -->
<div id="action-@Model.OrderItem.NodeId" class="col-sm-12 order-details" style="display:none;"></div>
<div id="loading-partial-view" hidden>Laddar...</div>

<!-- Details about this OrderItem -->
<div class="col-sm-4 order-details">
    <div>
        <span class="label label-primary">OrderId:</span> @Model.OrderItem.OrderId
    </div>
    <div>
        <span class="label label-primary">Created:</span> @Model.OrderItem.CreateDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
    </div>
    <div>
        <span class="label label-primary">Updated:</span> @Model.OrderItem.UpdateDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
    </div>
    <div>
        <span class="label label-primary">FollowUp:</span> @Model.OrderItem.FollowUpDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)
    </div>
</div>
<div class="col-sm-4 order-details">
    <div>
        <span class="label label-primary">PatronName:</span> @Model.OrderItem.PatronName
    </div>
    <div>
        <span class="label label-primary">PatronEmail:</span> @Model.OrderItem.PatronEmail
    </div>
    <div>
        <span class="label label-primary">PatronIdentifier:</span> @Model.OrderItem.PatronCardNo
    </div>
    <div>
        <span class="label label-primary">ProviderName:</span> @Model.OrderItem.ProviderName
    </div>
    <div>
        <span class="label label-primary">ProviderOrderId:</span> @Model.OrderItem.ProviderOrderId
    </div>
</div>
<div class="col-sm-4 order-details">
    <div>
        <span class="label label-primary">Name</span> @Model.OrderItem.SierraInfo.first_name @Model.OrderItem.SierraInfo.last_name
    </div>
    <div>
        <span class="label label-primary">Barcode</span> @Model.OrderItem.SierraInfo.barcode
    </div>
    <div>
        <span class="label label-primary">Ptyp</span> @(!String.IsNullOrEmpty(Model.OrderItem.SierraInfo.barcode) ? Model.OrderItem.SierraInfo.ptype.ToString() : "")
    </div>
    <div>
        <span class="label label-primary">Email</span> @Model.OrderItem.SierraInfo.email
    </div>
    <div>
        <span class="label label-primary">Home Library</span> @Model.OrderItem.SierraInfo.home_library
    </div>
    <div>
        <span class='label @((String.IsNullOrEmpty(Model.OrderItem.SierraInfo.mblock) || Model.OrderItem.SierraInfo.mblock=="-") ? "label-primary" : "label-danger")'>Mblock</span> @Model.OrderItem.SierraInfo.mblock
    </div>
</div>

<!-- Log list -->
<div>
    <span class="label label-default">Händelser</span>
</div>
<div id="log-@Model.OrderItem.NodeId" class="col-sm-12 log-list">
    @foreach (var logItem in Model.OrderItem.LogItemsList)
    {
        <div class="row log-item @logItem.Type">
            <div class="col-sm-3">
                <span class="log-createdate">@logItem.CreateDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)</span>
                <span class="log-membername">@logItem.MemberName</span>
            </div>
            <div class="col-sm-1">
                <span class="log-type">@logItem.Type</span>
            </div>
            <div class="col-sm-8">
                <span class="log-message">@logItem.Message</span>
            </div>
        </div>
    }
    <script type="text/javascript">
    $.each($("#log-@Model.OrderItem.NodeId .log-message:contains('http')"), function () {
            $(this).html(addSaveDocumentButton(@Model.OrderItem.NodeId, replaceURLWithHTMLLinks($(this).text())));
        });
    </script>
</div>

<script type="text/javascript">
    // Open up an old mail
    $(".MAIL").click(function () {
        //debugger;
        var of = $(this).css("overflow");
        //var h = $(this).css("height");
        //alert(of);
        if (of == "hidden") {
            //alert("unhiding");
            $(this).css("overflow", "auto");
            $(this).css("height", "inherit");
            $(this).find("span.glyphicon").removeClass("glyphicon-chevron-right");
            $(this).find("span.glyphicon").addClass("glyphicon-chevron-down");
        }
        else {
            $(this).css("overflow", "hidden");
            $(this).css("height", "1.5em");
            $(this).find("span.glyphicon").removeClass("glyphicon-chevron-down");
            $(this).find("span.glyphicon").addClass("glyphicon-chevron-right");
            //alert("hiding");
        }
        //alert(this + " " + of);
        //console.log(of + " " + h);
    });
    $(".MAIL").each(function () {
        var of = $(this).css("overflow");
        if(of=="hidden"){
            $(this).find("span.log-message").prepend("<span style='margin-right:2px' class='glyphicon glyphicon-chevron-right'></span>");
        }
        else{
            $(this).find("span.log-message").prepend("<span style='margin-right:2px' class='glyphicon glyphicon-chevron-down'></span>");
        }
    });
</script>
