@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionClaimModel
@using System.Globalization

<div class="action-header">Kräv tillbaks bok</div>

<form class="form" role="form" onsubmit="return false;">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="message">Meddelande</label>
                <textarea class="form-control" rows="12" id="message" name="message">@Model.ClaimBookMailTemplate</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="recipientName">Mottagarens namn</label>
                <input type="text" class="form-control" id="recipientName" name="recipientName" value="@Model.OrderItem.PatronName">
            </div>
            <div class="form-group">
                <label for="recipientEmail">Mottagande e-postadress</label>
                <input type="text" class="form-control" id="recipientEmail" name="recipientEmail" value="@Model.OrderItem.PatronEmail">
            </div>
            <div class="form-group">
                <label for="dueDate">Återlämningsdatum</label>
                <div class="input-group date datetimepicker">
                    <input type="text" class="form-control" id="dueDate" name="dueDate" value="@Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-success" onclick="claim();">Kräv</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });

    function claim() {
        $.post("/umbraco/surface/OrderItemClaimSurface/ClaimItem", {
            packJson: JSON.stringify({
                nodeId: @Model.OrderItem.NodeId,
                dueDate: $("#dueDate").val(),
                mail: {
                    OrderId: "@Model.OrderItem.OrderId",
                    recipientName: "@Model.OrderItem.PatronName",
                    recipientEmail: "@Model.OrderItem.PatronEmail",
                    message: $("#message").val(),
                    attachments: []
                }
            })
        }).done(function (json) {
            if (json.Success) {
                loadOrderItemDetails(@Model.OrderItem.NodeId);
            }
            else {
                alert(json.Message);
            }
            unlockScreen();
        }).fail(function (jqxhr, textStatus, error) {
            alert("Error: " + textStatus + " " + error);
            unlockScreen();
        });
    }
</script>