@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionReturnModel

<div class="action-header">Returnering till utlånande bibliotek</div>

<form class="form" role="form" onsubmit="return false;">
    <div class="row">
        <div class="col-md-6">
            <h4>@Model.OrderItem.ProviderName</h4>
            <p>@(String.IsNullOrEmpty(Model.OrderItem.ProviderInformation) ? "Ingen leverantörsinformation tillgänglig." : @Model.OrderItem.ProviderInformation)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success" onclick="returnItem();">Returnera</button>
        </div>
    </div>
    
    <script type="text/javascript">
        function returnItem() {
            lockScreen();
            let previousStatus = @Model.OrderItem.Status.Substring(0, 2)
            $.post("/umbraco/surface/OrderItemReturnSurface/ReturnItem",
                {
                    nodeId: "@Model.OrderItem.NodeId",
                    bookId: "@Model.OrderItem.BookId",
                    status: previousStatus
                }).done(function (json) {
                if (json.Success) {
                    loadOrderItemDetails(@Model.OrderItem.NodeId);
                    if (previousStatus === 17) {
                        alert("Glöm inte att returnera boken i FOLIO också.")
                    }
                }
                else {
                    alert(json.Message);
                }
                unlockScreen();
            }).fail(function (jqxhr, textStatus, error) {
                alert("Error: " + textStatus + " " + error);
                unlockScreen();
            });
        }
    </script>
</form>