@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionReceiveBookModel

<div class="action-header">Ta emot bok</div>

@using System.Globalization;

<div id="delivery-to-circulation" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="titleToFolio">Ändra till endast titel här!!!!</label><br/>
            <textarea class="form-control" cols="80" rows="5" id="titleToFolio" onchange="titleToFolioHasBeenEdited()" name="titleToFolio">@Model.OrderItem.Reference [INTERLIBRARY LOAN: Due date in e-mailed loan receipt. Contact docdel.lib@chalmers.se for information]</textarea>
        </div>
        <div class="form-group">
            <label for="bookId">Inklistrad streckkod för fjärrlån</label>
            <input type="text" class="form-control" id="bookId" name="bookId" value="@Model.OrderItem.BookId">
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="alert alert-info">Glöm inte checka in den i Folio</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="providerInformation">Leverantörsinformation</label><br />
            <textarea class="form-control" cols="80" rows="5" id="providerInformation" name="providerInformation" onchange="providerInfoHasBeenEdited();">@Model.OrderItem.ProviderInformation</textarea>
        </div>
        <div class="form-group">
            <label for="dueDate">Återlämningsdatum</label>
            <div class="input-group date datetimepicker">
                <input type="text" class="form-control" id="dueDate" name="dueDate" value="@Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="log-message">Skriv till logg (valfritt)</label>
            <textarea class="form-control" rows="6" id="log-message" name="log-message"></textarea>
        </div>
        <div id="printDiv" class="print">
            <h3 style="float:right" class="dueDatePlaceHolder"></h3><br />
            <strong style="font-size:2em">@Model.OrderItem.SierraInfo.last_name @Model.OrderItem.SierraInfo.first_name</strong><br />
            <h2>Fjärrlån <span class="hidden readlibrary">Läsesalslån. Ej hemlån</span></h2>
            <div style="font-size:1.5em"><strong>@Model.OrderItem.DeliveryLibraryPrettyName</strong> Infodisk, tag ut och läs!</div>
            <br />
            <br />
            @{
                if (Model.OrderItem.DeliveryLibrary != Chalmers.ILL.Models.OrderItemModel.LIBRARY_Z_UMBRACO_STRING)
                {
                    <p style="font-size:1.4em">
                        När boken anländer<br />
                        1.	Sök boken i Chillin med bifogad streckkod.<br />
                        2.	Följ instruktionerna<br />
                    </p>
                    <p>&nbsp;</p>
                }
            }
            <p class="readlibrary" style="font-size:1.4em">
                OBS! När du lånar ut boken<br />
                1.	Sök boken i Chillin med bifogad streckkod.<br />
                2.	Följ instruktionerna<br />
            </p>
            <p class="readlibrary hidden" style="font-size:1.4em">
                OBS! Läsesalslån EJ HEMLÅN!<br />
                1. Kolla lånekort.<br />
                2. Registreras ej i Chillin.<br />
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <div style="float:right">
                @{
                    string barcodeurl = "http://barcode.tec-it.com/barcode.ashx?translate-esc=off&data=" + Model.OrderItem.OrderId + "&code=Code128&unit=Fit&dpi=96&imagetype=Gif&rotation=0&color=000000&bgcolor=FFFFFF&qunit=Mm&quiet=0";
                    //string barcodeurl = "http://barcodes4.me/barcode/c39/" + @Model.OrderItem.OrderId + ".png";
                    <img width="300" src=@barcodeurl /><br />
                }
            </div>
            <img src="~/images/cth_logo.png" width="148pt" /><br />
            <br />
            <p>
                Chalmers tekniska högskola<br />
                Biblioteket<br />
                412 96  Göteborg<br />
                <br />
                031-772 3737<br />
                <br />
                www.lib.chalmers.se<br />
                support.lib@chalmers.se<br />
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-success" onclick="sendToFolio(false, true)">Ta emot för vanligt lån</button>
        <button class="btn btn-success" onclick="sendToFolio(true, true)">Ta emot för läsesalslån</button>
    </div>
</div>

<script type="text/javascript">
    var hasProviderInfoBeenEdited = false;
    var hasTitleToFolioBeenEdited = false;

    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });

    function deliver(localLoan, print) {
        if (localLoan) {
            confirm("Lägg i röd slip EJ HEMLÅN i boken");
            $('.readlibrary').toggleClass('hidden');
        }
        if (hasProviderInfoBeenEdited || confirm("Du har inte ändrat leverantörsdata. Är du säker på att du vill fortsätta?")) {
            $('#container #printDiv').insertAfter('#container');
            var dueDate = moment($('#dueDate').val()).format("YYYY-MM-DD");
            $('.dueDatePlaceHolder').html(dueDate);

            var r = true;
            if (print) {
                window.print();
                r = window.confirm("Skrevs bokslippen ut korrekt?");
            }
            if (r) {
                setOrderItemDeliveryReceived(@Model.OrderItem.NodeId, $('#bookId').val(), $('#dueDate').val(), $('#providerInformation').val(),
                {
                    nodeId: @Model.OrderItem.NodeId,
                    recipientEmail: $("#patron-email").text().toString().trim(),
                    recipientName: "@Model.OrderItem.PatronName",
                    message: $("#mail-message").val(),
                    newStatusId: @Model.AvailableStatuses.First(x => x.Value.Contains("Infodisk")).Id,
                    newCancellationReasonId: -1,
                    newPurchasedMaterialId: -1,
                    newFollowUpDate: $('#dueDate').val(),
                }, $("#log-message").val(), localLoan);
                $("#printDiv").remove();
            } else {
                alert("Leveransfunktionen kommer laddas om, försök därefter igen.");
                $("#printDiv").remove();
                loadReceiveBookAction(@Model.OrderItem.NodeId);
            }
        }
    }

    function transport(localLoan, print) {
        if (localLoan) {
            confirm("Lägg i röd slip EJ HEMLÅN i boken");
            $('.readlibrary').toggleClass('hidden');
        }
        if (hasProviderInfoBeenEdited || confirm("Du har inte ändrat leverantörsdata. Är du säker på att du vill fortsätta?")) {
            $('#container #printDiv').insertAfter('#container');
            var dueDate = moment($('#dueDate').val()).format("YYYY-MM-DD");
            $('.dueDatePlaceHolder').html(dueDate);

            var r = true;
            if (print) {
                window.print();
                r = window.confirm("Skrevs bokslippen ut korrekt?");
            }
            if (r) {
                setOrderItemDeliveryReceivedForTransport(@Model.OrderItem.NodeId, $('#bookId').val(), $('#dueDate').val(), $('#providerInformation').val(),
                {
                    nodeId: @Model.OrderItem.NodeId,
                    recipientEmail: $("#patron-email").text().toString().trim(),
                    recipientName: "@Model.OrderItem.PatronName",
                    message: $("#mail-message").val(),
                    newStatusId: @Model.AvailableStatuses.First(x => x.Value.Contains("Transport")).Id,
                    newCancellationReasonId: -1,
                    newPurchasedMaterialId: -1,
                    newFollowUpDate: $('#dueDate').val(),
                }, $("#log-message").val(), localLoan);
                $("#printDiv").remove();
            } else {
                alert("Leveransfunktionen kommer laddas om, försök därefter igen.");
                $("#printDiv").remove();
                loadReceiveBookAction(@Model.OrderItem.NodeId);
            }
        }
    }

    function sendToFolio(localLoan, print) {
        if (localLoan) {
            confirm("Lägg i röd slip EJ HEMLÅN i boken");
        }
        if (hasTitleToFolioBeenEdited || confirm("Du har inte ändrat Folio/EDS titeln. Är du säker på att du vill fortsätta?")) {
            $('#container #printDiv').insertAfter('#container');
            var dueDate = moment($('#dueDate').val()).format("YYYY-MM-DD");
            $('.dueDatePlaceHolder').html(dueDate);

            var r = true;
            if (print) {
                window.print();
                r = window.confirm("Skrevs bokslippen ut korrekt?");
            }
            if (r) {
                setOrderItemDeliveryReceived(
                    @Model.OrderItem.NodeId,
                    $('#bookId').val(),
                    $('#dueDate').val(),
                    $('#providerInformation').val(),
                    $("#log-message").val(),
                    localLoan,
                    $("#titleToFolio").val(),
                    "@Model.OrderItem.OrderId",
                    "@Model.OrderItem.DeliveryLibrary"
                );

                $("#printDiv").remove();
                lendBook(@Model.OrderItem.NodeId)
            } else {
                alert("Leveransfunktionen kommer laddas om, försök därefter igen.");
                $("#printDiv").remove();
                loadReceiveBookAction(@Model.OrderItem.NodeId);
            }
        }
    }

    function lendBook(id) {
        lockScreen();
        $.post("/umbraco/surface/BookCirculationSurface/Loaned", {
            nodeId: id,
        }, function (json) {
            if (json.Success) {
                $("#statusActions").html("Bok utlånad.");
            } else {
                alert(json.Message);
            }
            unlockScreen();
        }).fail(function (jqxhr, textStatus, error) {
            alert("Error: " + textStatus + " " + error);
            unlockScreen();
        });
    }

    function providerInfoHasBeenEdited() {
        hasProviderInfoBeenEdited = true;
    }

    function titleToFolioHasBeenEdited() {
        hasTitleToFolioBeenEdited = true;
    }
</script>